{% extends  'base.html'%}

{% block title %}
    <title>Все блоги</title>
{% endblock %}

{% block content %}
    {% for blog in blog_list %}
        <a href="{%  url 'blogs:blog' pk=blog.id %}"><h2>{{ blog }}</h2></a>

        {% if blog.has_subscribed %}
            <form action="{% url 'blogs:unsubscribe' pk=blog.id %}" method="post">
                {% csrf_token %}
                <button class="btn-danger" type="submit">Отписаться</button>
            </form>

        {% elif user.is_authenticated and blog.owner != user %}
            <form action="{% url 'blogs:subscribe' pk=blog.id %}" method="post">
                {% csrf_token %}
                <button class="btn-success" type="submit">Подписаться</button>
            </form>

        {% elif user.is_authenticated %}
            <p>Это ваш блог</p>
        {% endif %}

    {% endfor %}

    <div class="clearfix"></div>

    {% include 'pagination.html' %}


{% endblock %}