{% extends  'base.html'%}

{% block title %}
    <title>Блог</title>
{% endblock %}

{% block content %}
    <h2>Реализовать бэкенд с минимальным фронтендом (можно на голом HTML):</h2>
    <ol>
        <li>Имеется база стандартных пользователей Django (добавляются через админку, регистрацию делать не надо).</li>
        <li>У каждого пользователя есть персональный блог. Новые создавать он не может;</li>
        <li>Пост в блоге — элементарная запись с заголовком, текстом и временем создания.</li>
        <li>Пользователь может подписываться (отписываться) на блоги других пользователей (любое количество).</li>
        <li>У пользователя есть персональная лента новостей, в которой в обратном хронологическом
            порядке выводятся посты из блогов, на которые он подписан.</li>
        <li>Пользователь может помечать посты в ленте прочитанными.</li>
        <li>При добавлении/удалении подписки содержание ленты меняется (при удалении подписки пометки о "прочитанности" сохранять не нужно).</li>
        <li>При добавлении поста в ленту — подписчики получают почтовое уведомление со ссылкой на новый пост.</li>
        <li>Изменение содержания лент подписчиков (и рассылка уведомлений) должно происходить как при стандартной
            публикации поста пользователем через интерфейс сайта, так при добавлении/удалении поста через админку.</li>
    </ol>
{% endblock %}